{% extends 'base.html' %} {% block body_block %} {% load static %}
<!-- Banner Section Start -->
<section class="slider">
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex row banner-slide">
          <div class="col col-lg-6 col-sm-12">
            <h1 class="fw-bold banner-heading">
              Discover and <br />
              Find Your Own <br />
              Fashion!
            </h1>
            <p class="banner-para">
              Explore our curated collection of stylish <br />
              clothing and accessories tailored to your <br />
              unique taste.
            </p>
            <a class="" href="{%url 'store' %}">
              <button class="banner-btn">EXPLORE NOW</button>
            </a>
          </div>
          <div class="col col-sm-12 col-lg-6">
            <div class="banner-img-bg mx-auto">
              <img
                class="banner-img"
                src="{% static 'img/banner-img-1.png' %}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex row banner-slide">
          <div class="col col-lg-6 col-sm-12">
            <h1 class="fw-bold banner-heading">
              WE ARE BEST<br />
              DECISION FOR <br />
              Fashion!
            </h1>
            <p class="banner-para">
              Explore our curated collection of stylish <br />
              clothing and accessories tailored to your <br />
              unique taste.
            </p>
            <a class="" href="{%url 'store' %}">
              <button class="banner-btn">EXPLORE NOW</button>
            </a>
          </div>
          <div class="col col-lg-6 col-sm-12">
            <div class="banner-img-bg">
              <img
                class="banner-img"
                src="{% static 'img/banner-img-2.png' %}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleRide"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleRide"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- Banner Section End -->

<!-- Accessories Section Start -->

<section class="mb-5">
  <h1 class="text-center fw-bold">Designer Clothes For You</h1>
  <p class="text-center">
    Immerse yourself in the world of luxury fashion with our meticulously
    crafted designer clothes!
  </p>

  <div class="p-5 mx-auto row" style="width: 80%">
    <div class="accessories-card col col-lg-4 col-sm-12">
      <div>
        <img
          class="accessories-img"
          src="{% static 'img/accessories-1.png' %}"
          alt=""
          srcset=""
        />
      </div>
      <div>
        <h1 class="accessories-heading">Accessories</h1>
        <p class="accessories-para">
          Complete your ensemble with designer accessories such as handbags,
          scarves, belts, and hats.
        </p>
      </div>
    </div>

    <div class="accessories-card col col-lg-4 col-sm-12">
      <div>
        <img
          class="accessories-img"
          src="{% static 'img/accessories-2.png' %}"
          alt=""
          srcset=""
        />
      </div>
      <div>
        <h1 class="accessories-heading">Dresses</h1>
        <p class="accessories-para">
          Explore a stunning range of designer dresses, including evening gowns
          and chic day dresses.
        </p>
      </div>
    </div>

    <div class="accessories-card col col-lg-4 col-sm-12">
      <div>
        <img
          class="accessories-img"
          src="{% static 'img/accessories-3.png' %}"
          alt=""
          srcset=""
        />
      </div>
      <div>
        <h1 class="accessories-heading">Outerwear</h1>
        <p class="accessories-para">
          Browse luxurious designer coats, jackets, and blazers to stay
          stylishly warm during colder seasons.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Accessories Section End -->
<!-- Exclusive Section Start -->
<section class="exclusive-section">
  <div class="d-flex align-items-center pt-5 row">
    <div class="col col-lg-6 col-sm-12">
      <img
        class="exclusive-section-img d-sm-none"
        src="{% static 'img/exclusive-offer.png' %}"
        alt=""
      />
    </div>
    <div class="col col-lg-6 col-sm-12">
      <div>
        <h2 class="exc-header">Exclusive offer</h2>
        <p class="exc-para">
          Unlock the ultimate style upgrade with our exclusive <br />
          offer Enjoy savings of up to 40% off on our latest New <br />
          Arrivals
        </p>

        <div class="d-flex mt-5 mb-5">
          <div class="exclu-time me-5 pt-3">
            <h3 class="text-center">06</h3>
            <p class="text-center">Days</p>
          </div>
          <div class="exclu-time me-5 pt-3">
            <h3 class="text-center">18</h3>
            <p class="text-center">Hours</p>
          </div>
          <div class="exclu-time me-5 pt-3">
            <h3 class="text-center">48</h3>
            <p class="text-center">Minutes</p>
          </div>
        </div>
        <a class="" href="{%url 'store' %}">
          <button class="banner-btn">BUY NOW</button>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Exclusive Section End -->

<!-- Feedback Section Start -->
<section class="mt-5 mb-5">
  <h1 class="text-center fw-bold mt-5 mb-5">Feedback Corner</h1>
  <div class="mx-auto row p-5" style="width: 80%">
    <div class="col col-lg-4 col-md-12 col-sm-12">
      <img class="mt-3 mb-3" src="{% static 'img/comma.png' %}" alt="" />
      <h3 class="fw-bold">Emily Wilson</h3>
      <p>
        The customer experience was exceptional from start to finish. The
        website is user-friendly, the checkout process was smooth, and the
        clothes I ordered fit perfectly. I'm beyond satisfied!
      </p>
    </div>
    <div
      class="col col-lg-4 col-md-12 col-sm-12"
      style="background-color: #c2efd4"
    >
      <img class="mt-3 mb-3" src="{% static 'img/comma.png' %}" alt="" />
      <h3 class="fw-bold">Sarah Thompson</h3>
      <p>
        I absolutely love the quality and style of the clothing I purchased from
        this website. customer service was outstanding, and I received my order
        quickly. Highly recommended!
      </p>
    </div>
    <div class="col col-lg-4 col-md-12 col-sm-12">
      <img class="mt-3 mb-3" src="{% static 'img/comma.png' %}" alt="" />
      <h3 class="fw-bold">Olivia Martinez</h3>
      <p>
        I had a great experience shopping on this website. The clothes I bought
        are fashionable and comfortable. Highly satisfied!
      </p>
    </div>
  </div>
</section>
<!-- Feedback Section End -->

{% endblock %}
